*{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, p{
    font-family: 'montserrat';
}
h1{
    font-size: 50px;
}
button{
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
}
header{
    position: fixed;
    width: 100%;
}
/* Header */
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing:border-box;
}
.innercontainer{
    display: flex;
    background-color: #1a1a1a;
    justify-content: space-between;
    width: 100%;
    padding: 30px 15%;
    align-items: center;
}
.rightheader{
    display: flex;
    align-items: center;
}
.burgermenu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line{
    width: 100%;
    height: 3px;
    background-color: yellow;
}
p.textlogo{
    font-size: 40px;
    color: #f2c740;
    font-weight: 600;
}
.textlogo span{
    font-weight: 200;
    color: #ffffff;
}
.ctaHeader{
    margin-right: 20px;
}
.ctaButton{
    background-color: #f2c740;
    margin: 5px;
}
@media only screen and (max-width:550px){
    .ctaHeader{
        display: none;
    }
    h1{
        font-size: 30px;
    }
}
/* End Header */
/* Banner */
.banner{
    width: 100%;
    background-color: #eeeeee; 
    padding: 0px 15%;
}
.column{
    width: 50%;
}
.tshirt{
    width: 900px;
}
.banner span{
    font-style: italic;
    color: #f2c740;
}
.banner h1{
    padding-top: 400px;
}
/* End banner */
.section1{
    padding: 80px 15%;
}
.section1 .column{
    width: 33.3%;
    background-color: #1a1a1a;
    height: 200px;
}
.section1 h2{
    color: #ffffff;
}
