body{
    margin: 0px;
    padding: 0px;
}
.fw-maincontainer h1, h2, h3, h4, p{
    font-family:'Helvetica';
}
.fw-maincontainer h1{
    font-size: 50px;
}
.fw-maincontainer h2{
    font-size: 35px;
}
@media(max-width:750px){
    .fw-maincontainer h1{
        font-size: 35px;
    }
    .fw-maincontainer h2{
        font-size: 25px;
    }
}
.fw-maincontainer button{
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
}
header{
    position: fixed;
    width: 100%;
}
/* End General */
/* Header */
.fw-maincontainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing:border-box;
}
.fw-column{
    width: 50%;
    box-sizing:border-box;
}
.innercontainer{
    display: flex;
    background-color: #1a1a1a;
    justify-content: space-between;
    width: 100%;
    padding: 0px 15%;
    align-items: center;
}
.rightheader{
    display: flex;
    align-items: center;
}
.burgermenu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line{
    width: 100%;
    height: 3px;
    background-color: yellow;
}
p.textlogo{
    font-size: 40px;
    color: #f2c740;
    font-weight: 600;
}
.textlogo span{
    font-weight: 200;
    color: #ffffff;
}
.ctaHeader{
    margin-right: 20px;
}
.ctaButton{
    background-color: #f2c740;
    margin: 5px;
}
.ctaButton:hover{
    background-color: #ffffff;
    transition: all .2s
}
/* Mobile media query */
@media (max-width:750px){
    .ctaHeader{
        display: none;
    }
}
/* End Header */
/* Banner */
.banner{
    width: 100%;
    background-color: #eeeeee; 
    padding: 0px 15%;
}
.tshirt{
    width: 900px;
}
.banner span{
    font-style: italic;
    color: #f2c740;
}
.banner h1{
    padding-top: 350px;
}
.divider{
    width: 100px;
    height: 8px;
    background-color: #f2c740;
    margin-top: 10px;
}
/* Mobile media query */
@media (max-width:750px){
    .tshirt{
        width: 300px;
    }
    .banner .fw-column{
        width: 100%;
    }
    .banner h1{
        padding-top: 200px;
        text-align: center;
    }
    .banner{
        padding-bottom: 100px;
    }
    .banner h2{
        text-align: center;
    }
    .divider{
        margin: auto;
        margin-top: 10px;
    }
}
/* End banner */
/* Section 1 */
.section1{
    max-width: 1350px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}
.section1 .fw-column{
    background-color: #1a1a1a;
    width: 300px;
    padding: 30px;
    margin: 5px;
    border-radius: 20px;
}
.section1 h3{
    color: #f2c740;
}
.section1 p{
    color: #ffffff;
    padding-top: 15px;
}
.section1 button{
    margin-top: 15px ;
}
.section1 button:hover{
    background-color: #f2c740;
    transition: all .2s;
}
/* End Section 1 */
/* Section 2 */
.section2{
    max-width: 1350px;
    margin: auto;
    padding-bottom: 60px;
    justify-content: center;
}
.section2-img{
    /* height: 700px; */
    background-size: cover;
    background-position: 0 50%;
    background-image: url('http://localhost/camelDev/MyFirstSite/First-Website/images/miguel-bruna-z_ogAl0oWb4-unsplash.jpg') ;
}
.section2 .column2{
    padding: 50px;
}
.section2 .column2 h3{
    color: #f2c740;
}
.section2 .column2 h2{
    margin: 0px;
}
.section2 p{
    line-height: 2;
}
.fw-accordion-container{
    width: 100%;
}
.fw-accordion-item{
    margin-bottom: 10px;
    box-shadow: #a5a4a4 0px 7px 8px;
    background-color: #1a1a1a;
    border-radius: 8px;
}
.fw-accordion-link{
    font-size: 20px;
    font-family: 'Helvetica';
    text-decoration:none;
    padding: 18px;
    color: #f2c740;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fw-accordion-container h4{
    padding-left: 18px;
}
.fw-accordion-answer{
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    padding: 0px 18px;
    max-height: 0px;
    overflow: hidden;
    transition: all .2s;
}
.fw-accordion-link .fa-minus{
    display: none;
}
.fw-accordion-item:target .fw-accordion-answer{
    max-height: 20rem;
}
.fw-accordion-item:target .fw-accordion-link .fa-plus{
    display: none;
}
.fw-accordion-item:target .fw-accordion-link .fa-minus{
    display: block;
}

@media(max-width:750px){
    .section2 .fw-column{
        width: 100%;
    }
    .section2-img{
        background-position: 50% 50%;
        height: 400px;
    }
}
/* End Section 2 */
/* Section 3 */
.section3{
    width: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    background-color: #eeeeee;
}
.section3 .fw-column{
    width: 1350px;
}
.section3 h2{
    text-align: center;
}
.fw-testimonial-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 200px;
    box-sizing: border-box;
}
.fw-testimonial-item{
    background-color: #ffffff;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom:#1a1a1a solid 7px;
    padding-top: 20px;
    padding-top: 20px;
}
.fw-testimonial-img{
    border-radius: 50%;
    border: #f2c740 solid 5px;
    width: 150px;
    display: block;
    margin: auto;
}
.fw-tesimonial-name h3{
    text-align: center;
}
.fw-testimonial-message p{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.fw-testimonial-control{
    display: flex;
    justify-content: center;
}
.fw-testimonial-control-left{
    font-size: 35px;
    margin: 5px;
}
.fw-testimonial-control-left .fa-chevron-left{
    color: #1a1a1a
}
.fw-testimonial-control-right{
    font-size: 35px;
    margin: 5px;
}
.fw-testimonial-control-right .fa-chevron-right{
    color: #1a1a1a
}
/* End section 3 */
.section4{
    max-width: 1350px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}
#fw-form-container{
    background-color: #1a1a1a;
    padding: 20px;
}
.fw-form-field{
    color: #ffffff;
    font-family: 'Helvetica';
    margin-bottom: 10px;
}
.fw-form-field input{
    height: 25px;
    width: 50%;
}
.fw-form-field select{
    height: 35px;
    width: 51%;
}
.form-row1 {
    display: flex;
}
#fw-form-submit{
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    background-color: #f2c740;
}
.fw-form-field-gender{
    color: #ffffff;
    font-family: 'Helvetica';
    margin-bottom: 10px;
}
.form-data{
    padding: 25px;
}
#product-total{
    font-weight: bold;
}

