/* General */
*{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, p{
    font-family: 'montserrat';
}
h1{
    font-size: 50px;
}
    h2{
    font-size: 35px;
}
@media(max-width:550px){
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
}
@media (orientation:landscape){
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
}
button{
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
}
header{
    position: fixed;
    width: 100%;
}
/* End General */
/* Header */
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing:border-box;
}
.column{
    width: 50%;
    box-sizing:border-box;
}
.innercontainer{
    display: flex;
    background-color: #1a1a1a;
    justify-content: space-between;
    width: 100%;
    padding: 30px 15%;
    align-items: center;
}
.rightheader{
    display: flex;
    align-items: center;
}
.burgermenu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line{
    width: 100%;
    height: 3px;
    background-color: yellow;
}
p.textlogo{
    font-size: 40px;
    color: #f2c740;
    font-weight: 600;
}
.textlogo span{
    font-weight: 200;
    color: #ffffff;
}
.ctaHeader{
    margin-right: 20px;
}
.ctaButton{
    background-color: #f2c740;
    margin: 5px;
}
.ctaButton:hover{
    background-color: #ffffff;
    transition: all .2s
}
/* Mobile media query */
@media (max-width:550px){
    .ctaHeader{
        display: none;
    }
}
/* End Header */
/* Banner */
.banner{
    width: 100%;
    background-color: #eeeeee; 
    padding: 0px 15%;
}
.tshirt{
    width: 900px;
}
.banner span{
    font-style: italic;
    color: #f2c740;
}
.banner h1{
    padding-top: 400px;
}
.divider{
    width: 100px;
    height: 8px;
    background-color: #f2c740;
    margin-top: 10px;
}
/* Mobile media query */
@media (max-width:550px){
    .tshirt{
        width: 300px;
    }
    .banner .column{
        width: 100%;
    }
    .banner h1{
        padding-top: 200px;
        text-align: center;
    }
    .banner{
        padding-bottom: 100px;
    }
    .banner h2{
        text-align: center;
    }
    .divider{
        margin: auto;
        margin-top: 10px;
    }
}
/* @media (orientation:landscape){
    .tshirt{
        width: 400px;
    }
    .banner .column{
        width: 100%;
    }
    .banner h1{
        padding-top: 200px;
        text-align: center;
        font-size: 35px;
    }
    .banner h2{
        text-align: center;
    }
    .divider{
        margin: auto;
        margin-top: 10px;
    }
    .banner{
        padding-bottom: 100px;
    }
} */
/* End banner */
/* Section 1 */
.section1{
    padding: 80px 15%;
    justify-content: space-between;
}
.section1 .column{
    background-color: #1a1a1a;
    width: 300px;
    padding: 30px;
    margin: 5px;
    border-radius: 20px;
}
.section1 h3{
    color: #f2c740;
}
.section1 p{
    color: #ffffff;
    padding-top: 15px;
}
.section1 button{
    margin-top: 15px ;
}
.section1 button:hover{
    background-color: #f2c740;
    transition: all .2s;
}
/* End Section 1 */
/* Section 2 */
.section2{
    padding: 0px 15%;
}
.section2-img{
    height: 700px;
    background-size: cover;
    background-position: 0 50%;
    background-image: url('http://localhost/camelDev/MyFirstSite/First-Website/images/miguel-bruna-z_ogAl0oWb4-unsplash.jpg') ;
}
.section2 .column2{
    padding: 50px;
}
.section2 .column2 h3{
    color: #f2c740;
    padding-bottom: 10px;
}
.section2 p{
    line-height: 2;
}
@media(max-width:550px){
    .section2 .column{
        width: 100%;
    }
    .section2-img{
        background-position: 50% 50%;
        height: 400px;
    }
    .section2 .column2{
        padding: 20px;
    }
}
/* End Section 2 */
